:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * { border: 1px solid red } */
/* h1 {
  font-family: 'BusMatrixCondensed';
  font-weight: bolder;
  font-size: 96px;
} */

body {
  color: #dcff6bde !important;
  background-color: black !important;
  font-family: 'wwDigital';
  font-size: 24px;
  padding-right: 20%;
  padding-left: 20%;
  text-align: center;
  justify-content: center;
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

p {
  font-family: 'Code_New_Roman';
  font-size: 22px;

}

#instructions {
  font-family: 'Perfect_DOS_VGA';
  font-size: 16px;
}

#navbar-appjsx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  z-index: 3;
  position: fixed !important;
  background: black;
}

.page-header {
  columns: 3;
  position: fixed !important;
  display: block;
  /* padding-left: 70em; */
  text-align: center;
  width: 100vw;
  justify-content: right;
  font-family: 'wwDigital';
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  background: black;
}

#navbar-appjsx button {
  /* margin: 10px 20px; */
  font-family: 'wwDigital';
  font-size: 14px;
  height: 30px;
  float:right;
  align-self: right;
  justify-self: right;
  background: none;
  border: none;
  color: white;
}

#navbar-appjsx h1 {
  float: left;
  margin: 30px;
  font-family: 'BusMatrixCondensed';
  font-weight: bolder;
  font-size: 96px;
}

#navbar-appjsx button {
  float: right;
}

#navbar-appjsx button:hover {
  text-shadow: 7px 7px 7px rgba(220, 255, 107, 0.87);
}

#navbar-appjsx > .active {
  color: white;
  text-shadow: 7px 7px 7px #c8d239;
}

#homepage {
  padding-top: 20em;
  /* padding-left: 3em; */
  text-align: right;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.text-homepage {
  grid-column: 1 / 3;
  padding-right: 30px;
}

#text-homepage {
  font-family: 'Perfect_DOS_VGA';
  font-size: 1.5vmin; 
}
.picture-homepage {
  padding: 0px;
  margin: 0px;
}
.header-photo {
  max-width: 25vw;
  border-radius: 24px;
  padding: 10px;
  border-style: dashed;
}

.element {
  min-height: 150vw;
}

.cv-page {
  /* margin-bottom: 75vw; */
}

.cv-grid-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-radius: 24px;
  border-style: dashed;
  padding: 10px;
  margin: 10px;
}

.cv-date-column {
  text-align: left
}

.cv-title-column {
  text-align: left;
}

.cv-skills-column {
  text-align: left;
 }

 .cv-details {
  font-family: 'Perfect_DOS_VGA';
  font-size: 8px;
  line-height: 75%;
}

.highlighted-skill {
  text-shadow: 0px 7px 7px rgba(220, 255, 107, 0.87);
  font-size: 24px;
}

.normal-skill {
  font-size: 16px;
}

.cv-details {
  font-size: 14px;
}

#show-details-button {
  font-family: 'wwDigital';
  font-size: 14px;
  height: 20px;
  /* float:right;
  align-self: right;
  justify-self: right; */
  background: none;
  border: none;
  color: #dcff6bde;
}
.contact-page{
  border-radius: 20px;
  border-style: dashed;
  padding: 20px;
}
.contact-intro {
 /* display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 grid-auto-rows: minmax(100px, auto); */
 font-family: 'wwDigital';
}

.instruction-contact {
  grid-row: 1;
  grid-column: 1;
  font-family: 'Jupiteroid-Light';
  font-size: 1.5vw;
}


.contact-input {
  grid-column: 2 / 3;
  background-color: black;
  border-color: #dcff6bde;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-family: 'CQ_Mono';
  font-size: 1.5vw;
}

.contact-input:focus {
  background-color: black;
  color: white;
  border-style: dashed;
  font-family: 'CQ_Mono';
  font-size: 1.5vw;
}


#email_field{
  min-width: 200px;
  height: 24px;
}

#subject_field {
  min-width: 200px;
  height: 24px;
}

.send-email-button {
  font-family: 'wwDigital';
  font-size: 30px;
  color: #dcff6bde;
  background-color: black;
  border: none;
  height: 50px;
  width: 100px;
}

.send-email-button:hover {
  text-shadow: 7px 10px 7px rgba(220, 255, 107, 0.87);
}

/* .projects-section {
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: minmax(2, auto);
} */
.projects-cards {
  background: none;
}

.projects-row {
  gap: 6em;
  align-content: center;
  justify-content: center;
}
#projects-img {
  /* max-width: 10em;
  max-height: 8em; */
  object-fit: contain !important;
  border-radius: 12px;
}
#img-modal {
  object-fit: contain;
}
#video-modal {
  min-height:50vw;
  max-width: 60vw;
}

.modal-window {
 /* width: 90vw; */
 max-width: 80vw;
 max-height: 80vw;
}

.projects-cards:hover {
  box-shadow: 7px 10px 7px rgba(220, 255, 107, 0.87);
}
.projects-button {
  background-color: black;
  color: #dcff6bde;
  border: none
}
#projects-modal {
  background-color: black !important;
  color: #dcff6bde;
  border: none;
}

#crystalball-video {
  width: inherit;
}
@font-face {
  font-family: 'BusMatrixCondensed';
  src: local('BusMatrixCondensed'), url(./fonts/BusMatrixCondensed.ttf) format('truetype');
}

@font-face {
  font-family: 'wwDigital';
  src: local('wwDigital'), url(./fonts/wwDigital.ttf) format('truetype');
}

@font-face {
  font-family: 'Jupiteroid-Bold';
  src: local('Jupiteroid-Bold'), url(./fonts/Jupiteroid-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Jupiteroid-Light';
  src: local('Jupiteroid-Light'), url(./fonts/Jupiteroid-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Code_New_Roman';
  src: local('Code_New_Roman'), url(./fonts/Code_New_Roman.ttf) format('truetype');
}

@font-face {
  font-family: 'F25_Bank_Printer';
  src: local('F25_Bank_Printer'), url(./fonts/F25_Bank_Printer.ttf) format('truetype');
}

@font-face {
  font-family: 'CQ_Mono';
  src: local('CQ_Mono'), url(./fonts/CQ_Mono.ttf) format('truetype');
}

@font-face {
  font-family: 'Perfect_DOS_VGA';
  src: local('Perfect_DOS_VGA'), url(./fonts/Perfect_DOS_VGA.ttf) format('truetype');
}


@font-face {
  font-family: 'Tox_Typewriter';
  src: local('Tox_Typewriter'), url(./fonts/Tox_Typewriter.ttf) format('truetype');
}
