:root {
  color: #dcff6bde;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * { border: 1px solid red } */
/* h1 {
  font-family: 'BusMatrixCondensed';
  font-weight: bolder;
  font-size: 96px;
} */

body {
  font-family: 'wwDigital';
  font-size: 24px;
  padding-right:20%;
  padding-left: 20%;
  text-align: center;
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

p {
  font-family: 'Code_New_Roman';
  font-size: 22px;

}
#instructions {
  font-family: 'Perfect_DOS_VGA';
  font-size: 16px;
}
#navbar-appjsx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 3;
  position: fixed !important;
  background: black;
}

.page-header {
  columns: 3;
  position: fixed !important;
  display: block;
  /* padding-left: 70em; */
  text-align: center;
  width: 100%;
  justify-content: right;
  font-family: 'wwDigital';
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  background: black;
}

#navbar-appjsx button {
  /* margin: 10px 20px; */
  font-family: 'wwDigital';
  font-size: 14px;
  height: 30px;
  float:right;
  align-self: right;
  justify-self: right;
  background: none;
  border: none;
  color: white;
}

#navbar-appjsx h1 {
  float: left;
  margin: 30px;
  font-family: 'BusMatrixCondensed';
  font-weight: bolder;
  font-size: 96px;
}

#navbar-appjsx button {
  float: right;
}

#navbar-appjsx button:hover {
  text-shadow: 7px 7px 7px rgba(220, 255, 107, 0.87);
}

#navbar-appjsx > .active {
  color: white;
  text-shadow: 7px 7px 7px #c8d239;
}

#homepage {
  padding-top: 20em;
}

.element {
  min-height: 1048px;
}

.cv-grid-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cv-date-column {
  text-align: left
}

.cv-title-column {
  text-align: left;
}

.cv-skills-column {
  text-align: left;
 }

.normal-skill {
  text-shadow: 0px 7px 7px rgba(220, 255, 107, 0.87);
}
.highlighted-skill {
  font-size: 16px;
}

.cv-details {
  font-size: 14px;
}

@font-face {
  font-family: 'BusMatrixCondensed';
  src: local('BusMatrixCondensed'), url(./fonts/BusMatrixCondensed.ttf) format('truetype');
}

@font-face {
  font-family: 'wwDigital';
  src: local('wwDigital'), url(./fonts/wwDigital.ttf) format('truetype');
}

@font-face {
  font-family: 'Jupiteroid-Bold';
  src: local('Jupiteroid-Bold'), url(./fonts/Jupiteroid-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Jupiteroid-Light';
  src: local('Jupiteroid-Light'), url(./fonts/Jupiteroid-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Code_New_Roman';
  src: local('Code_New_Roman'), url(./fonts/Code_New_Roman.ttf) format('truetype');
}

@font-face {
  font-family: 'F25_Bank_Printer';
  src: local('F25_Bank_Printer'), url(./fonts/F25_Bank_Printer.ttf) format('truetype');
}

@font-face {
  font-family: 'CQ_Mono';
  src: local('CQ_Mono'), url(./fonts/CQ_Mono.ttf) format('truetype');
}

@font-face {
  font-family: 'Perfect_DOS_VGA';
  src: local('Perfect_DOS_VGA'), url(./fonts/Perfect_DOS_VGA.ttf) format('truetype');
}


@font-face {
  font-family: 'Tox_Typewriter';
  src: local('Tox_Typewriter'), url(./fonts/Tox_Typewriter.ttf) format('truetype');
}
